

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  color: #1BBCA3;
  text-align: center;
}
.container{
  position: relative;

}
input{
  margin-left: 25% !important;
  margin-right: 3%;
  border-radius: 25px;
  border: 1px solid #12D5EF;
  text-align: center;
  width: 50%;
  outline: none;
}

.form-container{
  margin: auto;
  width: 41%;
  padding: 10px;
  display: inline;
}
.item-container{
  text-align: center;
  width: 41%;
  margin: auto;
  padding: 10px;
  display: inline;
}
.svg-inline--fa.fa-w-16 {
  width: 1.5em;
}
.plus{
   color: #12D5EF;
   height: auto;
   margin-left: 1.5em;
}

.check{
  text-shadow: 10px 10px 10px blue;
  color: #21D636;
  height: auto;
}

.minus{
  text-shadow: 10px 10px 10px blue;
  color: #B74949;
  margin-left: 1.5em;
  height: auto;

}

ul > li {
  display: inline-block;
  zoom:1;
  *display:inline;
  padding: 7px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
